<include file='Public/header' />
<body>
<include file='Public/sidebar' />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>商家</th>
                        <th>标题</th>
                        <th>副标题</th>
                        <th>简介</th>
                        <th>图片</th>
                        <th>通过</th>
                        <th>不通过</th>
                    </tr>
                    </thead>

                    <volist id="vo" name="data">
                        <tr>
                            <td class="">{$vo.discover_id}</td>
                            <td class="">{$vo.nickname}</td>
                            <td class="">{$vo.title}</td>
                            <td class="">{$vo.caption}</td>
                            <td class="">
                                <a href="#" title="{$vo.content}">悬停鼠标查看详情</a>
                            </td>
                            <td class="">
                                <a href="{$vo.picture}" target="_blank">
                                    点击查看图片
                                </a>
                            </td>
                            <td class="">
                                <button class="btn btn-sm btn-success pass" data-id="{$vo.discover_id}">
                                通过
                                </button>
                            </td>
                            <td class="">
                                <button class="btn btn-sm btn-danger nopass" data-id="{$vo.discover_id}">
                                不通过
                                </button>
                            </td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <nav>
                    <ul class="pagination">
                        {$page}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
<script>
    $('.pass').on('click', function() {
        var discover_id = $(this).data('id');
        var that = $(this);
        $.ajax({
            type: "POST",
            url: "{:U('Manage/pass')}",
            data: {id:discover_id},
            dataType: "json",
            success: function(data){
                if(data.status == 200){
                    that.parents('tr').remove();
                    alert(data.info);
                } else {
                    alert('未知错误');
                }
            }
        });
    })

    $('.nopass').on('click', function() {
        var discover_id = $(this).data('id');
        var that = $(this);
        $.ajax({
            type: "POST",
            url: "{:U('Manage/nopass')}",
            data: {id:discover_id},
            dataType: "json",
            success: function(data){
                if(data.status == 200){
                    that.parents('tr').remove();
                    alert(data.info);
                } else {
                    alert('未知错误');
                }
            }
        });
    })
</script>
</body>
</html>