<include file='Public/header' />
<body>
<include file='Public/sidebar' />
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-lg-12 h1">添加管理员</div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>用户名</label>
          <input type="text" class="form-control" required name="username" placeholder="标题">
        </div>
        <div class="form-group">
          <label>密码</label>
          <input type="text" class="form-control" required name="password" placeholder="副标题">
        </div>
        <button type="submit" class="btn btn-success">添加</button>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
</body>
</html> 